[submodule "RuntimeErrorBackend"]
	path = RuntimeErrorBackend
	url = https://github.com/ElizabethCF01/RuntimeErrorBackend.git
[submodule "RuntimeErrorFrontend"]
	path = RuntimeErrorFrontend
	url = https://github.com/ElizabethCF01/RuntimeErrorFrontend.git
